.custom-select {
  font-family: Arial;
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #dad9d9;
  border-radius: 60px;
  margin-top: 2px;
  box-shadow: 0 9px 15px #0000004d;
}

.select-selected:after {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid #0000;
  border-top-color: #fff;
  position: absolute;
  top: 22px;
  right: 5px;
}

.select-selected.select-arrow-active:after {
  border-color: #0000 #0000 #fff;
  top: 11px;
}

.select-items div, .select-selected {
  color: #000;
  cursor: pointer;
  border: 1px solid #0000;
  border-bottom-color: #0000001a;
  padding: 8px 16px;
}

.select-items {
  z-index: 99;
  background-color: #dad9d9;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #0000001a;
}

